.btn {
  max-width: fit-content;
  padding: 10px 18px;
  border: none;
  color: #ffffff;
  background-color: var(--main-orange-color);
  border: none;
  border-radius: 4px;
  font-size: 13px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #364e5f;
}
